src/main/java/clientForCityconService/GetAllUsersService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.citycon.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.citycon.com/" name="GetAllUsersService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.citycon.com/" schemaLocation="http://citycon.ml:8080/GetAllUsersService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTestString">
<part name="parameters" element="tns:getTestString"/>
</message>
<message name="getTestStringResponse">
<part name="parameters" element="tns:getTestStringResponse"/>
</message>
<message name="greet">
<part name="parameters" element="tns:greet"/>
</message>
<message name="greetResponse">
<part name="parameters" element="tns:greetResponse"/>
</message>
<message name="getTestUser">
<part name="parameters" element="tns:getTestUser"/>
</message>
<message name="getTestUserResponse">
<part name="parameters" element="tns:getTestUserResponse"/>
</message>
<message name="getUserWithLogin">
<part name="parameters" element="tns:getUserWithLogin"/>
</message>
<message name="getUserWithLoginResponse">
<part name="parameters" element="tns:getUserWithLoginResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<portType name="GetAllUsers">
<operation name="getTestString">
<input wsam:Action="http://services.citycon.com/GetAllUsers/getTestStringRequest" message="tns:getTestString"/>
<output wsam:Action="http://services.citycon.com/GetAllUsers/getTestStringResponse" message="tns:getTestStringResponse"/>
</operation>
<operation name="greet">
<input wsam:Action="http://services.citycon.com/GetAllUsers/greetRequest" message="tns:greet"/>
<output wsam:Action="http://services.citycon.com/GetAllUsers/greetResponse" message="tns:greetResponse"/>
</operation>
<operation name="getTestUser">
<input wsam:Action="http://services.citycon.com/GetAllUsers/getTestUserRequest" message="tns:getTestUser"/>
<output wsam:Action="http://services.citycon.com/GetAllUsers/getTestUserResponse" message="tns:getTestUserResponse"/>
</operation>
<operation name="getUserWithLogin">
<input wsam:Action="http://services.citycon.com/GetAllUsers/getUserWithLoginRequest" message="tns:getUserWithLogin"/>
<output wsam:Action="http://services.citycon.com/GetAllUsers/getUserWithLoginResponse" message="tns:getUserWithLoginResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://services.citycon.com/GetAllUsers/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://services.citycon.com/GetAllUsers/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
</portType>
<binding name="GetAllUsersPortBinding" type="tns:GetAllUsers">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="greet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTestUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserWithLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GetAllUsersService">
<port name="GetAllUsersPort" binding="tns:GetAllUsersPortBinding">
<soap:address location="http://citycon.ml:8080/GetAllUsersService"/>
</port>
</service>
</definitions>